











{% extends 'base.html.twig' %}

{% block title %}depatement!
{% endblock %}

{% block body %}
	<body id="app-container" class="menu-default show-spinner">
		{% include "includes/body_dash.html.twig" %}
		<main>
     {% if editMode %}
	        <h1> Modifier Depatement</h1>
	 {% else %}
			<h1> ajouter Depatement</h1>
    {% endif %}
			{{ form_start(formDepartement) }}
            
			
				<label class="form-group has-float-label mb-4">
					{{ form_row(formDepartement.title) }}
				</label>
			
				 {% if editMode %}
				<div class="d-flex justify-content-start align-items-center">
					<button class="btn btn-primary btn-lg btn-shadow" type="submit">Enregistrer</button>
				</div>
			{% else %}
			<div class="d-flex justify-content-start align-items-center">
					<button class="btn btn-primary btn-lg btn-shadow" type="submit">AJOUTER</button>
				</div>
			{% endif %}
			{{ form_end(formDepartement) }}
         
		</main>
		{% include "includes/footer.html.twig" %}
	</body>
{% endblock %}
