
{% extends 'base.html.twig' %}

{% block title %}Categorie detail!{% endblock %}

{% block body %}
<body id="app-container" class="menu-default show-spinner">
{% include "includes/body_dash.html.twig" %}

 <main>
    <img src="uploads\brochures\{{categorie.image}}" alt="{{categorie.title}}" class="card-img-top" />
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="mb-2">
                        <h1>categories Details</h1>
                    
                    </div>
                    <div class="separator mb-5"></div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-12 col-xl-8 col-left">
                    <div class="card mb-4">
                        <div class="card-body">

                            <div class="glide details">
                                <div class="glide__track" data-glide-el="track">
                                    <ul class="glide__slides">
                                        <li class="glide__slide">
                                            <img alt="detail" src="img/products/parkin.jpg"
                                                class="responsive border-0 border-radius img-fluid mb-3" />
                                        </li>
                                        <li class="glide__slide">
                                            <img alt="detail" src="img/products/napoleonshat.jpg"
                                                class="responsive border-0 border-radius img-fluid mb-3" />
                                        </li>
                                        <li class="glide__slide">
                                            <img alt="detail" src="img/products/marble-cake.jpg"
                                                class="responsive border-0 border-radius img-fluid mb-3" />
                                        </li>
                                        <li class="glide__slide">
                                            <img alt="detail" src="img/products/fruitcake.jpg"
                                                class="responsive border-0 border-radius img-fluid mb-3" />
                                        </li>
                                        <li class="glide__slide">
                                            <img alt="detail" src="img/products/magdalena.jpg"
                                                class="responsive border-0 border-radius img-fluid mb-3" />
                                        </li>
                                        <li class="glide__slide">
                                            <img alt="detail" src="img/products/tea-loaf.jpg"
                                                class="responsive border-0 border-radius img-fluid mb-3" />
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="glide thumbs">
                                <div class="glide__track" data-glide-el="track">
                                    <ul class="glide__slides">
                                        <li class="glide__slide">
                                            <img alt="thumb" src="img/products/parkin-thumb.jpg"
                                                class="responsive border-0 border-radius img-fluid" />
                                        </li>
                                        <li class="glide__slide">
                                            <img alt="thumb" src="img/products/napoleonshat-thumb.jpg"
                                                class="responsive border-0 border-radius img-fluid" />
                                        </li>
                                        <li class="glide__slide">
                                            <img alt="thumb" src="img/products/marble-cake-thumb.jpg"
                                                class="responsive border-0 border-radius img-fluid" />
                                        </li>
                                        <li class="glide__slide">
                                            <img alt="thumb" src="img/products/fruitcake-thumb.jpg"
                                                class="responsive border-0 border-radius img-fluid" />
                                        </li>
                                        <li class="glide__slide">
                                            <img alt="thumb" src="img/products/magdalena-thumb.jpg"
                                                class="responsive border-0 border-radius img-fluid" />
                                        </li>
                                        <li class="glide__slide">
                                            <img alt="thumb" src="img/products/tea-loaf-thumb.jpg"
                                                class="responsive border-0 border-radius img-fluid" />
                                        </li>
                                    </ul>
                                </div>
                                <div class="glide__arrows" data-glide-el="controls">
                                    <button class="glide__arrow glide__arrow--left" data-glide-dir="<"><i
                                            class="simple-icon-arrow-left"></i></button>
                                    <button class="glide__arrow glide__arrow--right" data-glide-dir=">"><i
                                            class="simple-icon-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <ul class="nav nav-tabs card-header-tabs " role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="first-tab" data-toggle="tab" href="#first" role="tab"
                                        aria-controls="first" aria-selected="true">Description</a>
                                </li>
                           
                              
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="first" role="tabpanel"
                                    aria-labelledby="first-tab">

                                    <p class="font-weight-bold">{{categorie.title}}</p>
                                    <p>
                                       {{categorie.description}}

                                </div>
                              
                            
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-12 col-xl-4 col-right">
                    

                    <div class="card mb-4 d-none d-lg-block">
                        <div class="card-body">
                            <h5 class="card-title"><span>Similar categorie</span><a
                                    class="btn-link float-right text-small pt-1" href="#">View All</a>
                            </h5>
                            <div class="row social-image-row gallery">
                                <div class="col-6">
                                    <a href="img/products/marble-cake.jpg">
                                        <img class="img-fluid border-radius" src="img/products/marble-cake-thumb.jpg" />
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="img/products/parkin.jpg">
                                        <img class="img-fluid border-radius" src="img/products/parkin-thumb.jpg" />
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="img/products/fruitcake.jpg">
                                        <img class="img-fluid border-radius" src="img/products/fruitcake-thumb.jpg" />
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="img/products/tea-loaf.jpg">
                                        <img class="img-fluid border-radius" src="img/products/tea-loaf-thumb.jpg" />
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="img/products/napoleonshat.jpg">
                                        <img class="img-fluid border-radius" src="img/products/napoleonshat-thumb.jpg" />
                                    </a>
                                </div>
                                <div class="col-6">
                                    <a href="img/products/magdalena.jpg">
                                        <img class="img-fluid border-radius" src="img/products/magdalena-thumb.jpg" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% include "includes/footer.html.twig" %}
</body>
{% endblock %}



 