{% extends 'base.html.twig' %}

{% block title %}Dashboard!{% endblock %}

{% block body %}
<body id="app-container" class="menu-default show-spinner">
{% include "includes/body_dash.html.twig" %}
 <main>
 </main>
{% include "includes/footer.html.twig" %}
</body>
{% endblock %}
